/* Mobile and Tablet */
@media (max-width: 1023px) {
    
    .hide-on-mobile-tablet {
        display: none;
    }
    
    .header {
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
    }

    .header__cart-list {
        position: fixed;
        top: calc(var(--header-height));
        right: 0px;
        width: 100%;
        padding: 0 calc( (100% - 644px) / 2);
    }

    .header__cart-list::after {
        display: none;
    }

    .app__container {
        margin-top: calc( var(--header-height) + var(--header-sort-bar-height));
    }

    .header__sort-bar{
        display: flex;
    }

    .mobile_category {
        display: block;
    }

    .app__content {
        padding-top: 8px;
    }

    .header__tablet-bars{
        display: block;
    }
}

/*Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 70px;
        text-align: right;
    }

    .header-with-search {
        padding: 0;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        z-index: 1;
        height: 46px;
        box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
        padding: 0 16px;
        display: none;
        animation: fadeIn linear 0.1s;
    }

    .header__search-checkbox:checked ~ .header__search {
        display: flex;
    }

    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        width: 100%;
    }

    .header__mobile-search {
        display: block;
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .app__content {
        margin: 0 4px;
    }

    .header__logo-img {
        width: 120px;
        margin: 0px 38px 0 54px
    }

    .footer__heading {
        text-align: center;
    }

    .footer__download,
    .footer-item__link {
        justify-content: center;
    }

    .footer__download-app {
        flex: unset;
    }

    .header__tablet-bars {
        padding-left: 12px;
    }

    .tablet-bars__list {
        top: 55px;
    }

    .tablet-bars__list::before {
        right: 0;
    }

    .header__cart-warp {
        padding-right: 12px;
    }

    .header__cart-notice {
        right: 0px;
    }
}